<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1099400061173-curh835fkp17n5n7n3hrpcpaulfkhepn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1099400061173-curh835fkp17n5n7n3hrpcpaulfkhepn</string>
	<key>API_KEY</key>
	<string>AIzaSyBl29H_3v9e7aM2W_f0hdxWou1FFgXU_Fs</string>
	<key>GCM_SENDER_ID</key>
	<string>1099400061173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterNetflix.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>netflix-clone-project-648c1</string>
	<key>STORAGE_BUCKET</key>
	<string>netflix-clone-project-648c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1099400061173:ios:fb6493262dfe3dbb2325bc</string>
</dict>
</plist>